.form {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 14px;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}


.input:focus {
  opacity: 1;
  outline: none;
}


.sub_title {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color:black
}



.label_icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.radio_container {
  margin-bottom: 14px;
}
.radio_container_item {
  display: flex;
  gap: 8px;
}
.icon {
  height: 14px;
  width: 14px;
}
.radio_input {
  position: absolute;
  opacity: 0;
}

.datapicer_conteinet {
  margin-bottom: 40px;
}

/*DatePicker*/

.customCalendar {
  color: var(--dark-text-color);
  background-color: var(--dark-input-focus-color);
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

.react-datepicker__day-name {
  color: var(--dark-text-color);
}

.customDay {
  color: var(--dark-text-color);
}

.react-datepicker__header {
  background-color: blue;
}

.react-datepicker__header {
  background-color: #333;
}

.calendar_divider {
  border-top: 1px solid #000;
  margin-bottom: 10px;
}

.customCalendar .react-datepicker__day-name {
  color: white;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.date {
  color: var(--dark-text-color);
}

.arrow {
  stroke: white;
}

.react-datepicker__day-name {
  color: white;
}

@media (min-width: 375px) {
  .form {
    width: 700px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .form {
    width: 900px;
  }
}

@media (min-width: 1440px) {
}
.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc; /* Цвет неактивного круга */
  margin-right: 8px;
}

.circle_active {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #007bff; /* Цвет активного круга */
  background-color: #007bff;  /* Цвет заливки активного круга */
  margin-right: 8px;
}

.label_text {
  font-size: 14px; /* Размер текста подписи */
  color: #333;     /* Цвет текста */
}